
{% extends 'qg/base_qg.html' %}
{% load static %}

{% block content %}
    <div class="contact container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel text-center p-3">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="search">
                        <span class="input-group-btn">
                            <button class="btn btn-effect-ripple btn-primary"><i class="bi-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-list container">
            <div class="row">
                <div class="col-md-6 bg-white pt-3 contact-user mt-0">
                    <div class="row">
                        <div class="col-md-3 pull-left">
                            <a href="#"><img src="{% static 'img/contact/user_1.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-md-3 pull-left">
                            <h6>Jonathan_Smith</h6>
                            <p class="text-secondary">Graphics_Designer</p>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a class="btn btn-success tooltips text-center align-middle">
                                <i class="bi-pencil-fill"></i>
                            </a>
                            <a class="btn btn-danger tooltips text-center align-middle">
                                <i class="bi-x"></i>
                            </a>
                        </div>
                    </div>
                    <hr/>
                    <ul class="social-links list-inline">
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="bi-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-skype"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-envelope"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 bg-white pt-3 contact-user mt-0">
                    <div class="row">
                        <div class="col-md-3 pull-left">
                            <a href="#"><img src="{% static 'img/contact/user_3.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-md-3 pull-left">
                            <h6>Jonathan_Smith</h6>
                            <p class="text-secondary">Graphics_Designer</p>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a class="btn btn-success tooltips text-center">
                                <i class="bi-pencil-fill"></i>
                            </a>
                            <a class="btn btn-danger tooltips">
                                <i class="bi-x"></i>
                            </a>
                        </div>
                    </div>
                    <hr/>
                    <ul class="social-links list-inline">
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="bi-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-skype"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--second row-->
            <div class="row">
                <div class="col-md-6 bg-white pt-3 contact-user">
                    <div class="row">
                        <div class="col-md-3 pull-left">
                            <a href="#"><img src="{% static 'img/contact/user_2.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-md-3 pull-left">
                            <h6>Jonathan_Smith</h6>
                            <p class="text-secondary">Graphics_Designer</p>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a class="btn btn-success tooltips text-center">
                                <i class="bi-pencil-fill"></i>
                            </a>
                            <a class="btn btn-danger tooltips">
                                <i class="bi-x"></i>
                            </a>
                        </div>
                    </div>
                    <hr/>
                    <ul class="social-links list-inline">
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="bi-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-skype"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-envelope"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 bg-white pt-3 contact-user">
                    <div class="row">
                        <div class="col-md-3 pull-left">
                            <a href="#"><img src="{% static 'img/contact/user_1.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-md-3 pull-left">
                            <h6>Jonathan_Smith</h6>
                            <p class="text-secondary">Graphics_Designer</p>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a class="btn btn-success tooltips text-center">
                                <i class="bi-pencil-fill"></i>
                            </a>
                            <a class="btn btn-danger tooltips">
                                <i class="bi-x"></i>
                            </a>
                        </div>
                    </div>
                    <hr/>
                    <ul class="social-links list-inline">
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="bi-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-skype"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--third row-->
            <div class="row">
                <div class="col-md-6 bg-white pt-3 contact-user">
                    <div class="row">
                        <div class="col-md-3 pull-left">
                            <a href="#"><img src="{% static 'img/contact/user_3.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-md-3 pull-left">
                            <h6>Jonathan_Smith</h6>
                            <p class="text-secondary">Graphics_Designer</p>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a class="btn btn-success tooltips text-center">
                                <i class="bi-pencil-fill"></i>
                            </a>
                            <a class="btn btn-danger tooltips">
                                <i class="bi-x"></i>
                            </a>
                        </div>
                    </div>
                    <hr/>
                    <ul class="social-links list-inline">
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="bi-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-skype"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-envelope"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 bg-white pt-3 contact-user">
                    <div class="row">
                        <div class="col-md-3 pull-left">
                            <a href="#"><img src="{% static 'img/contact/user_2.jpg' %}" alt=""></a>
                        </div>
                        <div class="col-md-3 pull-left">
                            <h6>Jonathan_Smith</h6>
                            <p class="text-secondary">Graphics_Designer</p>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a class="btn btn-success tooltips text-center">
                                <i class="bi-pencil-fill"></i>
                            </a>
                            <a class="btn btn-danger tooltips">
                                <i class="bi-x"></i>
                            </a>
                        </div>
                    </div>
                    <hr/>
                    <ul class="social-links list-inline">
                        <li>
                            <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="#" data-original-title="Facebook"><i class="bi-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-skype"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="bi-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
