{% extends 'qg/base_qg.html' %}
{% load static %}

{% block content %}
    <!-- Title -->
    <div class="container faq mb-4">
        <div class="header text-center p-4">
            <h1 style="color: #fff">Ask question or browse by category below </h1>
            <div class="form-group w-100 mb-5">
                <input class="form-control form-control-lg w-100 bg-white mb-4" placeholder="Search by keywords" type="text">
            </div>

        </div>
    </div>
    <!--===================================================-->

    <div class="container mt-sm-60 mt-30">
        <div class="faq">
            <div class="row">
                <!-- FAQ left -->
                <div class="col-md-4">
                    <div class="card-left">
                        <h6 class="card-header">
                                        Category
                                    </h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex active">
                                <i class="bi-sun"></i>Terms &amp; conditions<span class="span-list">06</span>
                            </li>
                            <li class="list-group-item d-flex">
                                <i class="bi-unlock-fill"></i>Privacy policy<span class="span-list">14</span>
                            </li>
                            <li class="list-group-item d-flex">
                                <i class="bi-bookmark-fill"></i>Terms of use<span class="span-list">10</span>
                            </li>
                            <li class="list-group-item d-flex">
                                <i class="bi-printer-fill"></i>Documentation<span class="span-list">27</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- FAQ right -->
                <div class="col-md-8">
                    <div class="card-right">
                        <h2 class="card-header">
                                        Terms and Conditions
                                    </h2>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item padding d-flex ">
                                <i class="bi-file-minus"></i>Terms &amp; conditions
                                <p style="">ddd</p>
                            </li>
                            <li class="list-group-item d-flex">
                                <i class="bi-plus-circle"></i>Privacy policy
                            </li>
                            <li class="list-group-item d-flex">
                                <i class="bi-plus-circle"></i>Terms of use
                            </li>
                            <li class="list-group-item d-flex">
                                <i class="bi-plus-circle"></i>Documentation
                            </li>
                            <li class="list-group-item d-flex">
                                <i class="bi-plus-circle"></i>Documentation
                            </li>
                            <li class="list-group-item d-flex">
                                <i class="bi-plus-circle"></i>Documentation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="container">
        <div class="faq">
            <div class="row">
                <!-- Tips Widget -->
                <div class="col-md-4 bg-light">
                    <div class="Widget-left">
                        <h4 class="text-thin">Useful Tips</h4>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                        </p>
                        <ul class="ul-left">
                            <li><i class="bi-circle-fill" style="color: #6f42c1;font-size: 10px"></i> Lorem ipsum</li>
                            <li><i class="bi-circle-fill" style="color: #d63384;font-size: 10px"></i> Consectetuer adipiscing</li>
                            <li><i class="bi-circle-fill" style="color: #0dcaf0;font-size: 10px"></i> Sed diam nonummy</li>
                            <li><i class="bi-circle-fill" style="color: #198754;font-size: 10px"></i> Euismod tincidunt</li>
                        </ul>
                    </div>
                    <div class="contact-us">
                        <h4 class="text-thin">Can't find the answer?</h4>
                        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
                        </p>
                        <a href="#" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="general">
                        <h4 class="pt-4">General</h4>
                        <hr/>
                        <a href="#">Consectetuer adipiscing elit ?</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="#">Lorem ipsum dolor sit amet ?</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>

                        <h4 class="pt-4">Account</h4>
                        <hr/>
                        <a href="#">Lorem ipsum dolor sit amet ?</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="#">Lorem ipsum dolor sit amet ?</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>

                        <h4 class="pt-4">Payment</h4>
                        <hr/>
                        <a href="#">Lorem ipsum dolor sit amet ?</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                        <a href="#">Lorem ipsum dolor sit amet ?</a>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


