{% load static %}

<div class="container footer">
  <footer class="py-3 my-4 mb-0">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="social-list">
            <a href="mailto:huda97mhawish@gmail.com" target="_blank">
               <img src="{% static 'img/icon/apple-mail.png' %}" alt="Gmail">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/huda-mhawish" target="_blank">
               <img src="{% static 'img/icon/linkedin.png' %}" alt="linkedin">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/huda.sy.9889" target="_blank">
               <img src="{% static 'img/icon/facebook.png' %} " alt="facebook">
            </a>
        </li>
    </ul>
    <p class="text-center text-muted">&copy; 2021 All right reserved</p>
  </footer>
</div>
