{% load static %}


<header class="sticky-top">
<div class="header">
  <div class="navbar navbar-expand navBack" role="navigation">
    <div class="container ">
       <form class="d-flex">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         <a href="/" ><i class="bi-search"></i></a>
       </form>
       <h1 class="navbar-brand">Question Generation</h1>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg mb-4 mt-0 nav border-bottom navbar-light">
    <div class="container">

      <a class="navbar-brand" href="/"><img src="{% static 'img/QG1.png' %}" width="40" height="40"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home_qg' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'references' %}">References</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users' %}">users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'start' %}">Start</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'FAQ' %}">FAQ</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="font-weight: bold">
          {% if user.is_authenticated%}
            <li><a class="btn btn-secondary" href="{% url 'logout' %}">Log out</a></li>
        {% else %}
       <div>
           <a href="{% url 'login' %}" class="btn btn-outline-secondary login-button">login</a>
           <a href="{% url 'signup' %}" class="btn btn-primary login-button">Signup</a>
       </div>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>
</header>

<!--/***********************************************/-->
